* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: sans-serif;
}


.container {
    width: 100%;
    /* margin: 0 auto; */
    background: #23424A;
    color: white;
    padding: 7em 0;
    /* height: 300px; */
}

/* The height in the container makes the text 
disapear at the bottom when the screen shrings */

.intro {
    width: 50%;
    margin: 0 5em;
}

button {
    background-color:#38CFD9;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    color:black;
    border: none;
}
